.header img {
    height: 80px;
}
.header{
    text-align: center;
}
.header nav {
    background-color: #000;
    line-height: 40px;
}
nav ul li{
    display: inline-block;
}
nav ul li a{
    text-decoration: none;
    margin-right: 20px; 
    padding: 6px;
    color: #fff;
    list-style-type: none;
}
nav ul li a:hover {
    background-color: grey;
}