.or{
    position: relative;
}
.or::after{
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 5%;
    background: #ddd;
}
.or::before{
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    right: 5%;
    background: #ddd;
}